<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lab.interview.clinicreminderbackend.mapper.patientMapper">
    <select id="findByid" resultType="lab.interview.clinicreminderbackend.entity.patient">
        SELECT * FROM patient WHERE patientid = #{patientid}
    </select>

    <select id="findByDoctorid" resultType="lab.interview.clinicreminderbackend.entity.patient">
        SELECT * FROM patient WHERE doctorid = #{doctorid}
    </select>

    <insert id="insert">
        INSERT INTO patient (
        patientname, patientpassword, doctorid
        ) VALUES (
        #{patientname}, #{patientpassword}, #{doctorid}
        )
    </insert>

</mapper>